.feature {
  padding: 100px 0 0;
}

.title {
  margin-bottom: calc(var(--gap) * 6);
}

.text {
  margin-bottom: calc(var(--gap) * 9);
  padding-right: 100px;
}

.slider {
  width: 300px;
  height: 500px;
}

.content {
  padding: var(--gap);
}
