.mainSlide {
  display: flex;
  flex-direction: column;
  height: 800px;
  padding: 100px 0 0;
}

.mainContent {
  flex: 1 1 auto;
}

.subTitle {
  margin-bottom: calc(var(--gap) * 5);
}

.title {
  margin-bottom: calc(var(--gap) * 5);
}

.text {
  margin-bottom: calc(var(--gap) * 10);
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: underline;
}

.linkIcon {
  margin-left: calc(var(--gap) * 2);
  transform: translateY(1px);
}

.mainImage {
  width: 984px;
  margin: 0 auto;
}
